<div  class="form-check">
    <input type="checkbox" id=@Id aria-describedby="emailHelp" class="form-check-input" @onchange="OnValueChanged" placeholder=@PlaceHolder />
    <label class="form-check-label" for="exampleCheck1">Normal Maintenance</label>
</div> 
