<div class="d-grid gap-2">
    <label id="labelinputfile" class="input-group-text" for="@Id">Upload</label>
</div>

<div class="row">
    <div class="col-12 p-0">
        <div class="dropArea @dropClass rounded">
            <InputFile id="@Id" OnChange="OnValueChanged" accept="@Accept" multiple @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" /> 
            Choose file
        </div>
    </div>
</div>
 