@page "/loadfiles"

@using ClientPltTurbine.Singleton.Implementation
@inject LoadFile LoadFile
@inject EventSingleton Event

<h1>Load Files</h1>

<p>Current count: @status</p>

<button class="btn btn-primary" @onclick="LoadAllFiles">Load All Files</button>

@code {
    private string status = string.Empty;
    private async Task WriteInfo(string response)
    {
        status = response;
    }
    private async Task LoadAllFiles()
    {
        Event.SendStatus += async (sender, args) =>
          await WriteInfo(args);
        await LoadFile.LoadAllFiles();
    }
}
