@page "/graphics"
 
@inject Graphic Graphic

<h1>Graphic Turbine</h1>

<p>Current Turbines: @Graphic.NumTurbine</p> 
<button class="btn btn-primary" @onclick="Graphic.GraphicInfoTurbine">Graph All Turbines</button>