@page "/graphics"
 
@inject Graphic Graphic

<h1>Graphic Turbine</h1>

<p>Current Turbines: @Graphic.NumTurbine</p>
<InputCheckbox> </InputCheckbox>
<button class="btn btn-primary" @onclick="Graphic.GraphicInfoTurbine">Load All Files</button>