<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="configpath" value="../../../Resources/DatabaseTurbine/plt_wind_turbine.db"/>
		<add key="mysqlinfo" value="../../../Resources/DatabaseTurbine/mysql_conf.json"/>
		<add key="sqlitescript" value="../../../Resources/DatabaseTurbine/sqlite_database_plt.sql"/>
		<add key="mysqlscript" value="../../../Resources/DatabaseTurbine/mysql_database_plt.sql"/>
	</appSettings>
</configuration>