@page "/charts-turbines"
@inject ChartSingleton ChartSingleton
@inject IToastService toastService
<h1>Graphic Turbine</h1>
<p>Current Turbines: @ChartSingleton.NumTurbine</p>
<div class="row g-3">
    <div class="col-auto">
        <SelectComponent Values="Turbines" Text="(Choose Turbine)" @bind-Value="infoTurbine" Warning="Turbine is required" />
    </div>
    <div class="col-auto">
        <SelectComponent Values="Sensors" Text="(Choose Sensor)" Warning="Sensor is required" />
    </div>
    <div class="col-auto">
        <SelectComponent Values="Sensors" Text="(Choose Sensor)" Warning="Error is required" />
    </div>
    <div class="col-auto">
        <InputComponent Id="error" Type="number" PlaceHolder="Enter Period"></InputComponent>
    </div>
    <div class="col-auto">
        <ButtonComponent OnClick="CallChartData" Text="Creat Chart" ></ButtonComponent>
    </div>
</div>
@foreach(var period in  infoChart)
{
    <div class="chart-container">
        <Chart Config="GetConfig(period)"></Chart>
    </div>
} 