@page "/graphics"
@inject Chart Chart
@inject IToastService toastService

<h1>Graphic Turbine</h1>

<p>Current Turbines: @Chart.NumTurbine</p>
<button class="btn btn-primary" @onclick="Chart.GraphicInfoTurbine">Graph All Turbines</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        Chart.Service = toastService;
        Chart.InfoChart += async (sender, args) =>
           await Chart.WriteInfo(args);
        await Task.Run(() => Chart.RegisterEvent());
    }
}
