@page "/modelpredict"
@inject ModelPrediction ModelPrediction 
<h3>ModelPredictions</h3>

<p>Current Models:@NumModel</p>
<div class="row g-3">
    <div class="col-auto">
        <SelectComponent Values="Models" Text="(Choose Model)" Warning="Model is required" />
    </div>
    <div class="col-auto">
        <ButtonComponent OnClick="RunModel" Text="Run Model Selected"></ButtonComponent>
    </div> 
     <div class="container">
         <Chart3DComponent  Config="GetConfig()"></Chart3DComponent>
     </div>
</div> 